@import url(/components/components.css);
@import url(/modules/modules.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

a {
    display: flex;

    text-decoration: none;
}
